/* custom tweaks */
.card-title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
img.card-img-top{object-fit:cover;height:180px}
html, body {
  background: linear-gradient(135deg, #ffffff 0%, #e8fff0 100%);
  background-attachment: fixed;
  background-size: cover;
}




